services:
    ollama:
        container_name: ollama_agent
        image: ollama/ollama:latest
        restart: unless-stopped
        ports:
            - "11434:11434"
        volumes:
            - ollama:/root/.ollama
volumes:
  ollama:    